<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61369358903-pe297asbva06lcg6ats8m4gssqphmrgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61369358903-pe297asbva06lcg6ats8m4gssqphmrgm</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ9NvG6w2mBVk3fDX2aJS07JA24cqIfgY</string>
	<key>GCM_SENDER_ID</key>
	<string>61369358903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trial</string>
	<key>PROJECT_ID</key>
	<string>datatest02-209fa</string>
	<key>STORAGE_BUCKET</key>
	<string>datatest02-209fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61369358903:ios:8db405c251ddbbe145fdb2</string>
</dict>
</plist>